<div>
  <h3><%= post.user.first_name + " " + post.user.last_name%></h3>
  
  <% if post.body.present? %>
    <p><%= simple_format(post.body) %></p>
  <% end %>
  
  <% if post.image.present? %>
    <%= image_tag(post.image)%>
  <% end %>

  <br><%= link_to "Comments", post_path(post)%>
  <br><%= link_to "Edit", edit_post_path(post)%>
</div>

