<div>
  <h1><%= @post.user.first_name + " " + @post.user.last_name%></h1>
  
  <% if @post.body.present? %>
    <p><%= simple_format(@post.body) %></p>
  <% end %>
  
  <% if @post.image.present? %>
    <%= image_tag(@post.image)%>
  <% end %>
</div>

<h2>Comments</h2>

<div>
  <%= form_with model: [@post, @comment] do |f| %>
    <div>
      <% if @comment.errors.any? %>
        <h2>There are <%= pluralize(@comment.errors.count, "error")%> stopping you!</h2>
        <% @comment.errors.full_messages.each do |msg| %>
          <div><%= msg %></div>
        <% end %><br>
      <% end%>
    </div>

    <div class="field">
      <%= f.label :body %><br />
      <%= f.text_area :body, autofocus: true %>
    </div>
    
    <div class="field">
      <%= f.label :image %><br />
      <%= f.file_field :image %>
    </div>

    <div class="actions">
      <%= f.submit "Post" %>
    </div>
  <% end %>
</div>

<% if @post.comments.to_a.any? %>
  <%= render @post.comments%>
<% end %>



